In [13]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Data Understanding').getOrCreate()

df = spark.read.load('Korea Income and Welfare.csv', format="csv", header=True, inferSchema=True)

In [14]:
df.show()

+-----+----+----+------+-----------+-------------+------+---------+---------------+--------+--------+----------+------------+------------------+
|   id|year|wave|region|     income|family_member|gender|year_born|education_level|marriage|religion|occupation|company_size|reason_none_worker|
+-----+----+----+------+-----------+-------------+------+---------+---------------+--------+--------+----------+------------+------------------+
|10101|2005|   1|     1|      614.0|            1|     2|     1936|              2|       2|       2|          |            |                 8|
|10101|2011|   7|     1|      896.0|            1|     2|     1936|              2|       2|       2|          |            |                10|
|10101|2012|   8|     1|     1310.0|            1|     2|     1936|              2|       2|       2|          |            |                10|
|10101|2013|   9|     1|     2208.0|            1|     2|     1936|              2|       2|       2|          |            |                 1|
|10101|2014|  10|     1|      864.0|            1|     2|     1936|              2|       2|       2|          |            |                10|
|10101|2015|  11|     1|     1171.0|            1|     2|     1936|              2|       2|       1|          |            |                10|
|10101|2016|  12|     1|     1643.0|            1|     2|     1936|              2|       2|       2|          |            |                10|
|10101|2017|  13|     1|      851.0|            1|     2|     1936|              2|       2|       2|          |            |                10|
|20101|2005|   1|     1|     1257.0|            1|     2|     1945|              4|       2|       2|       421|           1|                  |
|20101|2006|   2|     1|-520.062475|            1|     2|     1945|              4|       2|       2|          |            |                 8|
|20101|2007|   3|     1|      602.0|            1|     2|     1945|              4|       2|       2|       411|           1|                  |
|20101|2008|   4|     1|     1972.0|            1|     2|     1945|              4|       2|       2|       951|           1|                  |
|20101|2009|   5|     1|     1638.0|            1|     2|     1945|              4|       2|       1|       951|           1|                  |
|20101|2010|   6|     1|     1598.0|            1|     2|     1945|              4|       2|       2|       951|           1|                  |
|20101|2011|   7|     1|     1810.0|            1|     2|     1945|              4|       2|       2|          |            |                10|
|20101|2012|   8|     1|     2447.0|            1|     2|     1945|              4|       2|       2|          |            |                10|
|20101|2013|   9|     1|     2023.0|            1|     2|     1945|              4|       2|       2|       951|           1|                  |
|20101|2014|  10|     1|      600.0|            1|     2|     1945|              4|       2|       2|          |            |                10|
|20101|2015|  11|     1|     1750.0|            1|     2|     1945|              4|       2|       1|          |            |                10|
|20101|2016|  12|     1|     1304.0|            1|     2|     1945|              4|       2|       2|          |            |                10|
+-----+----+----+------+-----------+-------------+------+---------+---------------+--------+--------+----------+------------+------------------+
only showing top 20 rows

In [16]:
print('Number of columns: ', len(df.columns))
print('Total number of rows: ', df.count())

Number of columns:  14
Total number of rows:  92857

In [17]:
df.columns

['id',
 'year',
 'wave',
 'region',
 'income',
 'family_member',
 'gender',
 'year_born',
 'education_level',
 'marriage',
 'religion',
 'occupation',
 'company_size',
 'reason_none_worker']

In [18]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- wave: integer (nullable = true)
 |-- region: integer (nullable = true)
 |-- income: double (nullable = true)
 |-- family_member: integer (nullable = true)
 |-- gender: integer (nullable = true)
 |-- year_born: integer (nullable = true)
 |-- education_level: integer (nullable = true)
 |-- marriage: integer (nullable = true)
 |-- religion: integer (nullable = true)
 |-- occupation: string (nullable = true)
 |-- company_size: string (nullable = true)
 |-- reason_none_worker: string (nullable = true)